<ion-header>
  <ion-toolbar>
    <ion-title>New Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="Data.length>0"> -->
    <div>
    <article class="leaderboard">
      <div>
        <main class="leaderboard__profiles">
          <article class="leaderboard__profile">
            <img src="assets/images/smce.png" alt="pic" class="leaderboard__picture">
            <span class="leaderboard__name">samuel Raj <span>({{dept}})</span></span>
            <span class="leaderboard__value">02/03/22  <span style="color: orange;">9:10pm</span>
          </span>
          </article>
        </main>
      </div>
    </article>
  </div>

  <!-- <div *ngIf="Data.length<=0">
    <div class="no-data">
      <p>No New ReQuests !!!!</p>
    </div>
  </div> -->

</ion-content>