.form-field {
    position: relative;
        height: 50px;
        margin-top: 10px;
  
    label {
      position: absolute;
      left: 1rem;
      top: 1rem;
      padding: 0 0.25rem;
      color: #939fab;
      font-size: 1rem;
      transition: 0.3s;
    }
  
    input {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 2px solid #e7ebee;
      border-radius: 10px;
      outline: none;
      padding: 1rem;
      background: none;
      z-index: 1;
      font-size: 17px;
      font-weight: 600;
      color: #171c25;
    }
  
    input:focus {
      border-color: #57fa72;
    }
  
    .label-focused {
      top: -0.4rem;
      left: 0.8rem;
      font-size: 14px;
      font-weight: 600;
      background-color: #fff;
      z-index: 10;
    }
  }
  