ion-toolbar{
    --background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
    color: #fff;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .flex-item-left {
    background-color: #f8f9fa;
    width: 45%;
    padding: 10px; 
  }
  
  .flex-item-right {
     padding: 10px;
    background-color: #f8f9fa;
    width: 50%; 
  }
  
  .flex-item {
    background-color: #f8f9fa;
    padding: 10px;
    width: 5%;
  }
  
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #f8f9fa;
    border-radius: 0.3rem;
  }
  
  button{
      margin-top: 20px;
      width: 100%;
  }