<ion-header>
  <ion-toolbar>
    <ion-title>Gate Pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- main app container -->
  <div class="bg">
    <div class="card">
      <h3 style="font-family: Gilroy; text-align: center">Gate Pass Form</h3>
      <div style="text-align: center">
        <img src="assets/images/smce.png" alt="" width="50" height="50" />
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Gate Pass for</label>
          <div>
            <div style="margin-top: 10px">
              <label style="margin-left: 5px">
                <input
                  (change)="check($event)"
                  type="radio"
                  value="true"
                  name="type"
                  formControlName="type"
                />
                Myself
              </label>

              <div style="margin-top: 5px">
                <label style="margin-left: 5px">
                  <input
                    (change)="check($event)"
                    type="radio"
                    value="false"
                    name="type"
                    formControlName="type"
                  />
                  My Group</label
                >
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="isGroup">

          <ng-multiselect-dropdown #multiSelect
          [placeholder]="'Select Names'" 
          [settings]="settings"
          [data]="data" 
          formControlName="students"
          [disabled]="false"
          (onFilterChange)="onFilterChange($event)"
          (onDropDownClose)="onDropDownClose($event)"
          (onSelect)="onItemSelect($event)" 
          (onDeSelect)="onDeSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onDeSelectAll($event)"
          [class.is-invalid]="submitted && f.students.errors">
        </ng-multiselect-dropdown>  
        <div *ngIf="submitted && f.students.errors" class="invalid-feedback">
          <div *ngIf="f.students.errors.required">students Name is required</div>
        </div>        
        </div>

        <div class="form-group">
          <label>Purpose</label>
          <select
            class="form-select"
            formControlName="purpose"
            [ngClass]="{ 'is-invalid': submitted && f.purpose.errors }"
            aria-label="Default select example"
          >
            <option selected>Select any one</option>
            <option *ngFor="let p of Purpose">{{p}}</option>
          </select>
          <div *ngIf="submitted && f.purpose.errors" class="invalid-feedback">
            <div *ngIf="f.purpose.errors.required">Purpose is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Reason</label>
          <textarea
            type="text"
            rows="2"
            formControlName="reason"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.reason.errors }"
          ></textarea>
          <div *ngIf="submitted && f.reason.errors" class="invalid-feedback">
            <div *ngIf="f.reason.errors.required">Reason is required</div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
