<ion-header>
  <ion-toolbar>
    <ion-title>Form Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="padding-bottom:20px;">
  <ion-item>
    <div class="container1" *ngIf="Form=='leave form'">
      <ul class="progressbar2">
        <li [class.active]="incharge">In-charge</li>
        <li [class.active]="hod">HOD</li>
        <!-- <li [class.active]="principal">Pending from Principal</li> -->
        <li [class.active]="completed">Completed</li>
      </ul>
    </div>
    <div class="container1"  *ngIf="Form=='gate pass'">
      <ul class="progressbar">
        <li [class.active]="incharge">In-charge</li>
        <li [class.active]="hod">HOD</li>
        <li [class.active]="principal">Principal</li>
        <li [class.active]="completed">Completed</li>
      </ul>
    </div>
  </ion-item>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form>

            <!-- <h3 style="width: 100%; text-align: center;padding-bottom: 10px;">{{Title|titlecase}}</h3> -->

            <div class="form-group" *ngFor="let details of Details">

              <div>
                <div class="flex-container">
                  <div class="flex-item-left">{{details.name}}</div>
                  <div class="flex-item">:</div>
                  <div class="flex-item-right">{{details.value}}</div>
                </div>
              </div>
            </div>
            
            <!-- <div class="container">
              <div class="row">
                <div class="button-area">
                  <button type="submit" class="btn btn-labeled btn-success" (click)="click('y')">
                    <span class="btn-label"><i class="fa fa-check"></i></span>Approve</button>
                  <button id="space" type="submit" class="btn btn-labeled btn-danger" (click)="click('n')">
                    <span class="btn-label"><i class="fa fa-close"></i></span>Need Enquiry</button>
                </div>
              </div>
            </div> -->

          </form>
        </div>
      </div>
    </div>

      <div class="d-flex justify-content-center"*ngIf="status==='completed'" >
      <ngx-qrcode
      style="width: 200px; height: 200px;"
    [elementType]="elementType"
    [errorCorrectionLevel]="correctionLevel"
    [value]="value"
    alt="Demo QR Code"
    cssClass="bshadow"></ngx-qrcode>  

    </div>
  </div>
  <!-- <ngx-spinner type="ball-spin-clockwise" size="medium"><p style="color: white; font-size: 18px;">Loading....</p></ngx-spinner> -->

</ion-content>
