ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important;
  }  ion-toolbar{
    --background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
    color: #fff;
}