ion-content{
    ion-col{
        text-align: center;
        ion-icon{
            zoom:2.8;
            padding: 5px;
            &:first-child{
                zoom: 3.8;
                padding: 5px;
            }
        }
        h2{
            margin-top: 0;
        }
        ion-card{
            text-align: center;
        }
    }
}



ion-menu ion-content {
    *{
        font-family: lato;
    }
    letter-spacing: 0.5px;
    --background: -webkit-linear-gradient(bottom, #e5f0ea, #e4e7e2);
    .mainheader{
        height: 75vh;
        width: 120%;
        background: red;
        box-shadow: 0 1px 10px var(--ion-color-light);
        border-radius: 0 0 50% 50%;
        margin-left: 4.5vh;
        div{
            transform: translate(3vh);
            ion-avatar{
                width: 10vh;
                height:10vh;
                background-color: red;
                margin-bottom: 5%;
                border: 7% solid palegreen;
            }    
            ion-label{
                font-weight: bold;
                font-size: 1.2rem;
            }    
        }
    }
    .menu-items{
        padding-left: 20%;
        ion-item.selected{
            --background: rgba(var(--ion-color-primary-rgb), 0.14);
            border-left: 5px solid var(--ion-color-teritary);
            ion-label{
                color:var(--ion-color-tertiary);
                font-weight : bold;


            }
        }
        
    }
}
