<!-- <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button menuID="custon.menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card color="success" routerLink="/gate-pass" >
            <ion-icon name="people"></ion-icon>
              <ion-text>
                <p>Gatepass</p>
              </ion-text>          
          </ion-card>        
        </ion-col>
    
        <ion-col size="6">
          <ion-card color="success" routerLink="/leave-form">
            <ion-icon name="people"></ion-icon>
              <ion-text>
                <p>Leave Form</p>
              </ion-text>          
          </ion-card>        
        </ion-col>
    
        <ion-col size="6">
          <ion-card color="success" routerLink="/notifications">
            <ion-icon name="people"></ion-icon>
              <ion-text>
                <p>Notifications</p>
              </ion-text>          
          </ion-card>        
        </ion-col>
    
        <ion-col size="6">
          <ion-card color="success" routerLink="/inprocess">
            <ion-icon name="add"></ion-icon>
              <ion-text>
                <p>Form Status</p>
              </ion-text>          
          </ion-card>        
        </ion-col>
      </ion-row>  
  
    </ion-grid>
  
  </ion-content>
  
  
  
  
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list class="main-header">
            <div>
                <ion-avatar>
                  <img src="assets/images/smce.png">
                </ion-avatar>
                <ion-label color="white">
sam                </ion-label>
                <p style="font-size: 10px;">Stella Marys College Of Engineering</p>
            </div>
            <hr>
        </ion-list>
  
        <ion-menu-toggle class="menu-items" [autoHide]="false" *ngFor="let page of pages; let i = index">
          <ion-item 
            lines="none" 
            detail="false" 
            [routerLink]="[page.url]" 
            routerDirection="root"
            routerLinkActive="selected">
            <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
            <ion-label>{{page.title}}</ion-label>
  
            
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

   -->

<ion-split-pane when="sm" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!-- <ion-list-header>
            Navigate
          </ion-list-header> -->
        <div>
          <ion-avatar>
            <img src="assets/images/smce.png">
          </ion-avatar>
          <ion-label color="white">
            {{userData.name}}
          </ion-label>
          <p style="font-size: 10px;">Stella Marys College Of Engineering</p>

          <ion-item  lines="none" (click)="logout()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
          <hr>
        </div>

        <ion-menu-toggle [autoHide]="false" *ngFor="let page of pages; let i = index">
          <ion-item lines="none"  [routerLink]="[page.url]" >
            <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
            <ion-label>{{page.title}}</ion-label>

          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>DashBoard</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" class="box">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let item of Fields">
            <ion-card color="success" routerLink="{{item.url}}">
              <ion-icon name="{{item.icon}}"></ion-icon>
              <ion-text>
                <p>{{item.title}}</p>
              </ion-text>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-content>
  </div>

</ion-split-pane>
