<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <div class="notification" *ngFor="let item of Data">
      
      <div class="faculty">{{item.name}}</div>
      <div class="status">{{item.status=='AFI'?'Approved by Incharge':'Enquiry Required'}}</div>
      <span class="date" style="color:rgb(0, 191, 255);">{{item.iactioned_at|date:'dd/MM/yyyy'}}  <span style="color: orange;">{{item.iactioned_at|date:'h:mm a'}}</span></span>

    </div>
  </div>

</ion-content>
