<ion-header>
  <ion-toolbar>
    <ion-title>Completed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
  <div *ngIf="Data.length">
  <div  *ngFor="let item of Data">
    <div class="notification" (click)="viewData(item)">
      <div class="faculty">{{item.name}}</div>
      <div class="status">{{item.status=='AFH'?'Completed':'Enquiry Required'}}</div>
      <span class="date" style="color:rgb(0, 191, 255);">{{item.hactioned_at|date:'dd/MM/yyyy'}}  <span style="color: orange;">{{item.hactioned_at|date:'h:mm a'}}</span></span>
    </div>
  </div>
</div>
</div>

<div *ngIf="Requests.length">
    <div>
      <main class="leaderboard__profiles" *ngFor="let item of Requests">
        <article class="leaderboard__profile" (click)="viewData(item)">
          <img src="assets/images/smce.png" alt="pic" class="leaderboard__picture">
          <span class="leaderboard__name">{{item.name|titlecase}} <span>({{item.department}})</span></span>
          <span class="leaderboard__value">{{item.requested_at|date:'dd/MM/yyyy'}}  <span style="color: orange;">{{item.requested_at|date:'h:mm a'}}</span>
        </span>
        </article>
      </main>
    </div>
</div>
</ion-content>
